project:
  type: website
  render:
    - index.qmd
    - about.qmd
    - introduction_to_firecrown.qmd
    - development_example.qmd
    - intro_article.qmd
    - two_point_framework.qmd
    - inferred_zdist.qmd
    - inferred_zdist_generators.qmd
    - inferred_zdist_serialization.qmd
    - two_point_generators.qmd
    - two_point_factories.qmd
    - two_point_factory_basics.qmd
    - two_point_sacc_loading.qmd
    - two_point_scale_cuts.qmd
    - two_point_integration.qmd
    - systematics.qmd

website:
  title: "Firecrown Tutorial Documents"
  favicon: green-backed-firecrown.jpg
  navbar:
    search: true
    left:
      - text: "Main Documentation"
        href: ../index.html
        icon: book
      - about.qmd
  sidebar:
      style: "docked"
      contents:
        - section: "Basics"
          contents:
            - href: intro_article.qmd
              text: "Introduction"
        - section: "Tutorials"
          contents:
            - section: "Tomographic Bins"
              contents:
                - href: inferred_zdist.qmd
                  text: "Distributions"
                - href: inferred_zdist_generators.qmd
                  text: "Distribution Generators"
                - href: inferred_zdist_serialization.qmd
                  text: "Serialization"
            - section: "Two-Point"
              contents:
                - href: two_point_framework.qmd
                  text: "Framework"
                - href: two_point_generators.qmd
                  text: "Generators"
                - href: two_point_factories.qmd
                  text: "Factories Overview"
                - href: two_point_factory_basics.qmd
                  text: "Factories Basics"
                - href: two_point_sacc_loading.qmd
                  text: "Loading SACC Data"
                - href: two_point_scale_cuts.qmd
                  text: "Scale Cuts"
                - href: two_point_integration.qmd
                  text: "Integration Methods"
        - section: "Firecrown on GitHub"
          contents:
            - text: "Source Code"
              href: https://github.com/LSSTDESC/firecrown
            - text: "Issues"
              href: https://github.com/LSSTDESC/firecrown/issues
            - text: "Discussions"
              href: https://github.com/LSSTDESC/firecrown/discussions

format:
  html:
    filters:
    - linkgen.lua
    theme: [serif, custom.scss]
    toc: true
    code-overflow: wrap
    grid:
      body-width: 1200px

reference-location: margin
citation-location: margin
subtitle: "version 1.15.0a0"
authors:
  - Marc Paterno
  - Sandro Vitenti
jupyter: python3
