/*-- scss:defaults --*/

$presentation-font-size-root: 32px;
  
/*-- scss:rules --*/

.reveal .slide-number {
  // color: $link-color;
  //font-size: 0.8em !important;
}

.reveal .footer {
  font-size: 0.8em !important;
  text-align: center !important;
}
