name: firecrown
channels:
  - conda-forge
dependencies:
  - cosmosis
  - cosmosis-build-standard-library
  - flake8
  - mypy
  - numpy>=1.16
  - pip
  - pyccl>=2.0
  - pytest
  - sacc>=0.3
  - scipy
  - sphinx
  - sphinx-autoapi
  - sphinx-apidoc
  - sphinx-autodoc-typehints
  - sphinxcontrib-apidoc
  - sphinx_rtd_theme
 
