name: firecrown
channels:
  - conda-forge
dependencies:
  - cosmosis
  - cosmosis-build-standard-library
  - black
  - flake8
  - mypy
  - pylint
  - numpy>=1.16
  - pip
  - pyccl>=2.0
  - pytest
  - sacc>=0.3
  - scipy
