version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v0-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "dev-requirements.txt" }}-gsl2.5-swig3.0.12
          # fallback to using the latest cache if no exact match is found
          - v0-dependencies-

      - run:
          name: install dependencies
          # cmake is not up to date on apt-get, using the ppa
          command: |
            # basic deps
            sudo apt-get update && sudo apt-get install -y gcc g++ gfortran byacc libhdf5-serial-dev
            
            # install cmake
            wget https://cmake.org/files/v3.12/cmake-3.12.0-Linux-x86_64.sh
            sudo sh cmake-3.12.0-Linux-x86_64.sh --prefix=/usr/local --exclude-subdir
            
            # now GSL
            if [ ! -d "./gsl-2.5" ]; then
              wget ftp://ftp.gnu.org/gnu/gsl/gsl-2.5.tar.gz
              tar xzvf gsl-2.5.tar.gz
              cd gsl-2.5
              ./configure
              make
              cd ..
            fi
            cd ./gsl-2.5
            sudo make install
            cd ..
            
            # now swig
            if [ ! -d "./swig-3.0.12" ]; then
              wget https://sourceforge.net/projects/swig/files/swig/swig-3.0.12/swig-3.0.12.tar.gz
              tar xzvf swig-3.0.12.tar.gz
              cd swig-3.0.12
              ./configure
              make
              cd ..
            fi
            cd ./swig-3.0.12
            sudo make install
            cd ..
            
            # and python
            python3 -m venv venv
            . venv/bin/activate
            export CC=gcc
            export FC=gfortran
            export CXX=g++
            pip install -U pip setuptools wheel
            pip install --no-cache-dir -U --upgrade-strategy=eager numpy>=1.15
            pip install --no-cache-dir -U --upgrade-strategy=eager -r requirements.txt
            pip install --no-cache-dir -U --upgrade-strategy=eager -r dev-requirements.txt
            pip install .

      - save_cache:
          paths:
            - ./venv
            - ./gsl-2.5
            - ./swig-3.0.12
          key: v0-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "dev-requirements.txt" }}-gsl2.5-swig3.0.12

      - run:
          name: lint
          command: |
            . venv/bin/activate
            flake8 firecrown
            flake8 bin/firecrown

      - run:
          name: test
          command: |
            . venv/bin/activate
            pytest -vv firecrown

      - run:
          name: cosmic-shear-example
          command: |
            . venv/bin/activate
            cd examples
            python generate_cosmicshear_data.py
            firecrown compute cosmicshear.yaml
