version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "dev-requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          # cmake is not up to date on apt-get, using the ppa
          command: |
            wget https://cmake.org/files/v3.12/cmake-3.12.0-Linux-x86_64.sh
            sudo sh cmake-3.12.0-Linux-x86_64.sh --prefix=/usr/local --exclude-subdir
            if [ ! -d "./gsl-2.5" ]; then
              wget ftp://ftp.gnu.org/gnu/gsl/gsl-2.5.tar.gz
              tar xzvf gsl-2.5.tar.gz
              cd gsl-2.5
              ./configure
              make
              cd ..
            fi
            cd ./gsl-2.5
            sudo make install
            cd ..
            sudo apt-get update && sudo apt-get install -y gcc g++ gfortran swig libhdf5-serial-dev
            python3 -m venv venv
            . venv/bin/activate
            pip install -U pip setuptools wheel
            pip install numpy>=1.15
            export CC=gcc
            export FC=gfortran
            export CXX=g++
            pip install -r requirements.txt
            pip install -r dev-requirements.txt
            pip install .

      - save_cache:
          paths:
            - ./venv
            - ./gsl-2.5
          key: v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "dev-requirements.txt" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            flake8 nightvision

      # - run:
      #     name: smoke test
      #     command: |
      #       . venv/bin/activate
      #       ./bin/tjpcosmo test/3x2pt.yaml
